<html>
    <head>
        <title>DeepDrummer Experiment</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel='shortcut icon' type='image/png' href='/static/assets/shortcut.png'>
    </head>
    <body>
        <h1>DeepDrummer Experiment</h1>

        <h2>Experiment Complete</h2>
        <div class="contents">
            <p>
                All done! Thank you for your participation!
            </p>
            <p>
                We will keep you updated on the results of the experiment.
            </p>
        </div>
    </body>
</html>
